body{
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 100px;
    display: inline-flex;
    flex-direction: column;
}

div{
    margin: 2px;
}

.board{
    /*Background pattern from sublepatterns.com*/
    background-image: url("img/background/pool_table_green.png");
    border-radius: 25px;
    min-height: 100vh;
    border-radius: 0;
    margin: 0;
}

.board .center{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.board .center .centerBoard{
    flex: 1;
    box-sizing: border-box;
    align-self: center;
    background-image: url("img/background/pool_table_red.png");
    border-radius: 20px;
}

.cardsYou, .cardsBot{
    min-height: 180px;
    margin-top: 30px;
}

.centerBoard > p{
    color: white;
    letter-spacing: 1px;
}

#ktoWygral{
    color: darkgreen;
    font-size: 48px;
    font-weight: bolder;
}

img{
    box-sizing: border-box;
    width: 100px;
    /* height: 100px; */
}

.bot{
    flex: 1;
    margin: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.bot > p{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.Bot > p{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cards{
    background-color: white;
}
/*
.cardsBot img, .cardsYou img{
    opacity: 0;
}
*/
.cardsYou img, .zakryte{
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.cardsYou img:hover, .zakryte:hover{
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
}

ul{
    text-align: left;
}

ul li{
    font-size: 18px;
    margin-bottom: 10px;
}

ul li span{
    font-size: 20px;
    font-weight: bold;
}

.panel{
    display: flex;
    justify-content: center;
}

.panel .figure{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    padding: 2px;
}

.panel .figure img{
    width: 25px;
    height: 25px;
}

.buttons{
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.buttons input{
    width: 200px;
    height: 40px;
    padding: 6px;
    background-color: white;
    text-transform: uppercase;
    outline: none;
    border-radius: 10px;
    border: none;
    transition: 0.2s ease-in-out;
    font-weight: bold;
    cursor: pointer;
}
.buttons input:hover{
    background-color: rgb(216, 216, 216);
    transform: scale(1.01);
    transition: 0.2s ease-in-out;
}

.removeCard{
    opacity: 0;
    transition:  0.5s opacity ease-in-out;
}

.addCard{
    opacity: 1 !important;
    transition:  0.5s opacity ease-in-out;
}