body, html{
    background-color: greenyellow;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
}

div{
    margin: 2px;
}

.board{
    /*Background pattern from sublepatterns.com*/
    background-image: url("img/background/pool_table_green.png");
    border-radius: 25px;
}

.board .center{
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.board .center .centerBoard{
    flex: 2;
    box-sizing: border-box;
    align-self: center;
    background-image: url("img/background/pool_table_red.png");
}

.board .center .bot{
    flex: 1;
}

h1{
    color: green;
    margin-bottom: 2%;
}

img{
    box-sizing: border-box;
    width: 100px;
    height: 100px;
}

.bot{
    border: 1px solid black;
    border-radius: 20px;
    margin: 5px;
}

.cards{
    background-color: white;
}

.cardsYou img:hover, #zakryte:hover{
    border: 2px solid blue;
    border-radius: 20px;
}

ul{
    text-align: left;
}

ul li{
    font-size: 24px;
    margin-bottom: 10px;
}

ul li span{
    font-size: 28px;
    font-weight: bold;
}

.panel{
    display: flex;
    justify-content: center;
}

.panel .figure{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    padding: 2px;
}

.panel .figure img{
    width: 25px;
    height: 25px;
}