body{
    background-color: #eef4d5;
    margin: 0;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 100px;
}

div{
    margin: 5px;
}

#cardsBot2 img{
    max-width: 85px;
}
#cardsBot1 img, #cardsBot3 img{
    max-height: 85px;
}

.board{
    /*Background pattern from sublepatterns.com*/
    background-image: url("img/background/pool_table_green.png");
    margin: 0;
    padding: 0;
    min-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.board p{
    color: white;
    letter-spacing: 1px;
    margin: 10px;
}

#ktoTeraz{
    font-size: 26px;
}

.board .center{
    display: flex;
    justify-content: center;
    flex: 2;
    flex-direction: row;
}

.centerBoard{
    background-image: url("img/background/pool_table_red.png");
    align-self: center;
    box-sizing: border-box;
    padding: 10px 10px 0px 10px;
    border-radius: 20px;
    flex: 2;
    min-height: 280px;
}

.player1 {
    justify-content: end;
}

.player1 p{
    writing-mode: tb;
    order: 2;
}

#cardsBot1, #cardsBot3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 500px;
    flex-wrap: wrap;
}

#cardsBot1{
    align-content: flex-end;
}

#cardsBot3{
    align-content: flex-start;
}
.player2{
    flex: 1;
    min-height: 190px;
}

.player3, .player1{
    display: flex;
    flex: 1.5;
}

.player3 p{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.cardsYou img, .zakryte{
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.cardsYou img:hover, .zakryte:hover{
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
}

.bot p, .you p{
    font-size: 18px;
    text-transform: uppercase;
}

.you{
    flex: 1;
    min-height: 220px;
}

#ktoWygral{
    color: darkgreen;
    font-size: 40px;
    font-weight: bolder;
}

ul{
    text-align: left;
}

ul li{
    font-size: 18px;
    margin-bottom: 10px;
}

ul li span{
    font-size: 20px;
    font-weight: bold;
}

.buttons{
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1;
}

.buttons input{
    width: 200px;
    height: 40px;
    padding: 6px;
    background-color: white;
    text-transform: uppercase;
    outline: none;
    border-radius: 10px;
    border: none;
    transition: 0.2s ease-in-out;
    font-weight: bold;
    cursor: pointer;
}

.buttons input:hover{
    background-color: rgb(216, 216, 216);
    transform: scale(1.01);
    transition: 0.2s ease-in-out;
}

footer a{
    color: red;
    text-decoration: none;
}

footer a:hover{
    color: brown;
}

.removeCard{
    opacity: 0;
    transition:  0.7s opacity ease-in-out;
}

.addCard{
    opacity: 1 !important;
    transition:  0.7s opacity ease-in-out;
}

@media screen and (max-width: 1500px) {
    #cardsBot2 img{
        max-width: 75px;
    }

    #cardsBot1 img, #cardsBot3 img{
        max-height: 75px;
    }
}

@media screen and (max-width: 700px) {
    div{
        margin: 2px;
    }

    #cardsBot1, #cardsBot3{
        height: 350px;
    }

    .player2{
        min-height: 130px;
    }

    .cardsYou{
        min-height: 150px;
    }

    .board{
        min-height: 680px;
    }

    .centerBoard{
        min-height: 210px
    }

    #ktoTeraz{
        font-size: 22px;
    }

    .board .center .centerBoard{
        padding: 5px 5px 0px 5px;
    }

    #cardsBot2 img, .centerBoard img{
        max-width: 50px;
    }

    #cardsBot1 img, #cardsBot3 img{
        max-height: 50px;
    }

    .cardsYou img, .centerBoard img{
        max-width: 60px;
    }
}